<div id="mrrayheader">
    <table id="mrrayheadertable">
	<tbody>
	    <tr>
		<td colspan="2" id="mrraylinks">
		    <a href="http://wave.to/">wave.to</a> &nbsp; | &nbsp;
		    <a href="http://wave.to/projects/mr-ray/">about</a> &nbsp; | &nbsp;
		    <a href="http://wave.to/projects/mr-ray/help/">help</a> &nbsp; | &nbsp;
		    <a href="http://wave.to/projects/mr-ray/bugs/">bugs</a>
		</td>
	    </tr>
	    <tr>
		<td>
		    <img src="{{robot_web}}web/media/icon.png" id="mrraylogo" alt="Mr Ray logo"/>
		</td>
		<td id="mrraytitlecontainer">
		    <p class="mrraytitle">Mr-Ray</p>
		    <p class="mrraycomment">The Wav-e-mail robot</p>
		</td>
	    </tr>
	</tbody>
    </table>
</div>